<div class="container">
  <div class="field has-addons m-3">
    <div class="control is-expanded">
      <input
        class="input"
        type="text"
        placeholder="Buscar por nombre"
        [(ngModel)]="searchQuery"
      />
    </div>
    <div class="control">
      <button class="button is-success" (click)="addProduct()" >Agregar producto</button>
    </div>
  </div>

  <table class="table is-fullwidth is-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Marca</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of filteredProducts">
        <td>{{ product.name }}</td>
        <td>{{ product.description | slice : 0 : 40 }}...</td>
        <td>${{ product.price }}</td>
        <td>{{ product.brand }}</td>
        <td>{{ product.category }}</td>
        <td>
          <button
            class="button is-small is-primary"
            (click)="editProduct(product.id)"
          >
            Editar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
