.same-height {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.description-box {
  max-height: 80px;
  overflow-y: auto;
  text-overflow: ellipsis;
  border-radius: 8px;
}
