<section class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <!-- Columna para la imagen grande del carrusel -->
      <div class="column is-two-thirds">
        <section id="image-carrousell" class="splide" aria-label="Splide Basic HTML Example">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide" *ngFor="let image of images">
                <img [src]="image | imagePipe" [alt]="'image for' + image">
              </li>
            </ul>
          </div>
        </section>
      </div>

      <!-- Columna para las dos imágenes más pequeñas -->
      <div class="column is-one-third">
        <div class="column">
          <img [src]="'img/carrousell/carrousell-6.jpg' | imagePipe" alt="Image 1" class="small-img">
        </div>
        <div class="column">
          <img [src]="'img/carrousell/carrousell-7.jpg' | imagePipe" alt="Image 2" class="small-img">
        </div>
      </div>
    </div>
  </div>
</section>
