<app-navbar></app-navbar>

<div class="container is-centered card mt-6 p-3">
  <h2 class="m-3">Editar Perfil de Usuario</h2>
    <div class="m-5">
      <form [formGroup]="editProfileForm" (ngSubmit)="updateProfile()">
      
        <div class="field m-5">
          <label class="label">NIT</label>
          <div class="control">
            <input formControlName="nit" class="input" type="text" name="nit" placeholder="Número de Identificación Tributaria">
            <p class="help is-danger">
              Este campo es requerido.
            </p>
          </div>
        </div>
      
        <div class="field m-5">
          <label class="label">Subir Foto de perfil</label>
          <div class="control">
            <div class="file has-name">
              <label class="file-label">
                <input
                  class="file-input"
                  type="file"
                  name="imagen"
                  accept="image/*"
                  (change)="onFileSelected($event)"
                />
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fas fa-upload"></i>
                  </span>
                  <span class="file-label"> Selecciona un archivo… </span>
                </span>
                <span class="file-name"> {{editProfileForm.value.image.name ? editProfileForm.value.image.name : 'Foto de perfil...' }} </span>
              </label>
            </div>
          </div>
          <p class="help is-danger">
            Debes subir una imagen.
          </p>
        </div>
      
        <div class="field m-5">
          <label class="label">Preferencia de Pago</label>
          <div class="control">
            <label class="radio mr-5">
              <input formControlName="isPreferCash" type="radio" [value]="1">
              Efectivo
            </label>
            <label class="radio">
              <input formControlName="isPreferCash" type="radio" [value]="0">
              Otro
            </label>
          </div>
        </div>
      
        <div class="field m-5">
        <label class="label">Descripción</label>
          <div class="control">
            <textarea formControlName="description" class="textarea" name="description" placeholder="Descripción del perfil"></textarea>
          </div>
        </div>
      
        <div class="field is-grouped m-5">
          <div class="control">
            <button [disabled]="this.editProfileForm.invalid" class="button is-primary" type="submit">Guardar Cambios</button>
          </div>
          <div class="control">
            <button (click)="goBack()" routerLinkActive="router-link-active"  class="button is-warn" type="reset">Volver</button>
          </div>
        </div>
      </form>
    </div>
  
</div>