.example-card {
    max-width: 325px;
    padding-bottom: 10px;
  }
  
  
  .card {
    color: red;
    font-size: xx-small;
  }

  .card-title{
    color: black;
    font-weight: 100;
    text-justify: distribute;
    padding: 100px;
  }
  

  