.example-card {
  max-width: 350px;
  padding: 10px;
  background-color: #F6F6E9; /* Fondo de la tarjeta según tu paleta de colores */
}

.splide__slide.card {
  background-color: transparent; /* Asegura que el contenedor de la tarjeta no tenga fondo */
}

.card-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff; /* Fondo blanco para el contenedor del contenido */
  border-radius: 5px; /* Opcional: Para añadir un borde redondeado */
}

.card-title{
  width: 225px;
  height: 80px;
}
.card-title, .card-price {
  color: #13334C; 
}

.card-price span {
  color: #FD5F00; /* Color del precio en negrita */
}

.simple-carousel-image {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
  border-radius: 5px;
}
