<div class="container m-5">
  <section
    id="simple-splide"
    class="splide border rounded-2"
    aria-label="Splide Basic HTML Example"
  >
    <div class="splide__track px-4">
      <div class="splide__list">
        <div class="splide__slide card" *ngFor="let product of products">
          <mat-card class="example-card" appearance="outlined">
            <div class="card-content-container">
              <div class="card-text-content">
                <h4 class="card-title">{{ product.name }}</h4>
                <p class="card-price">Precio: <span>{{ product.price }}</span></p>
              </div>
              <div class="card-image-content">
                <img
                  class="simple-carousel-image"
                  mat-card-lg-image
                  src="https://png.pngtree.com/thumb_back/fh260/background/20230611/pngtree-wolf-animals-images-wallpaper-for-pc-384x480-image_2916211.jpg"
                  alt="Imagen de {{ product.name }}"
                />
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </section>
</div>
