.example-card {
  max-width: 350px;
  padding: 10px;
  background-color: #ffffff; /* Fondo blanco para toda la tarjeta */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15); /* Sombra más definida */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave para el hover */
  margin: 10px; /* Reducir el espacio entre las tarjetas */
  
  &:hover {
    transform: scale(1.05); 
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.25); /* Sombra más intensa en hover */
  }
}

.splide__slide.card {
  background-color: transparent; /* Asegura que el contenedor de la tarjeta no tenga fondo */
}

.card-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff; /* Fondo blanco para el contenido */
  border-radius: 8px; /* Bordes redondeados */
  padding: 10px;
}

.card-title {
  width: 225px;
  height: 80px;
  color: #13334C; /* Color del texto del título */
}

.card-price {
  color: #13334C; /* Color del texto del precio */
}

.card-price span {
  color: #FD5F00; /* Color del precio en negrita */
}

.simple-carousel-image {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.splide__track {
  padding: 0 20px; /* Ajustar los márgenes del carrusel */
}
