<div class="container m-5">
  <section
    id="simple-splide"
    class="splide border rounded-2"
    aria-label="Splide Basic HTML Example"
  >
    <div class="splide__track px-4">
      <div class="splide__list">
        <div class="splide__slide card" *ngFor="let product of products">
          <mat-card class="example-card is-clickable" appearance="outlined" (click)="navigateToProductDetails(product)">
            <div class="card-content-container">
              <div class="card-text-content">
                <h4 class="card-title">{{ product.name | slice : 0 : 50}}</h4>
                <p class="card-price">Precio: <span>{{ product.price | currency}}</span></p>
              </div>
              <div class="card-image-content">
                <img
                  class="simple-carousel-image"
                  mat-card-lg-image
                  [src]="product.image_path | imagePipe"
                  alt="Imagen de {{ product.name }}"
                />
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </section>
</div>
