<div class="container m-5">
  <h2>Prueba SplideJs</h2>
  <section class="splide" aria-label="Splide Basic HTML Example">
    <div class="splide__track px-4">
      <div class="splide__list">
        <div class="splide__slide card" *ngFor="let product of productos">
          <mat-card class="example-card" appearance="outlined">
            <mat-card-header>
              <mat-card-title>{{ product.nombre }}</mat-card-title>
            </mat-card-header>
            <img
              mat-card-image
              [src]="product.imagen"
              alt="Imagen de {{ product.nombre }}"
            />
            <mat-card-content>
              <p>
                Precio:
                <span
                  class="span-price {{
                    product.descuento > 0 ? 'line-throught' : ''
                  }}"
                >
                  ${{ product.precio }}
                </span>
                <span *ngIf="product.descuento > 0" class="span-descuento"
                  >${{
                    (
                      product.precio -
                      product.precio * (product.descuento / 100)
                    ).toFixed(2)
                  }}</span
                >
              </p>
              <p>
                {{ product.descripcion }}
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </section>
</div>
