.example-card {
  max-width: 300px;
}

.span-price {
  font-weight: bold;
  margin-right: 5px;
}

.span-descuento {
  background-color: red;
  color: white;
  text-decoration: underline;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
}

.line-throught {
  text-decoration: line-through;
  color: gray;
}

.card {
  color: black;
}

.card-image {
  width: 300px;
  height: 300px;
}
