<div class="container">
  <section class="section">
    <h1 class="title is-3 has-text-centered">
      Dashboard de Reportes y Estadísticas
    </h1>
    <p class="subtitle is-5 has-text-centered">
      Visualización de datos clave para la gestión de la tienda
    </p>
  </section>

  <section class="section ar">
    <div class="columns">
      <div class="column is-6">
        <div class="box">
          <h4 class="title is-4 has-text-primary">Ventas Semanales</h4>
          <div class="content">
            <canvas *ngIf="isBrowser"
              baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="true"
              [type]="'bar'"
            >
            </canvas>
          </div>
        </div>
      </div>

      <div class="column is-6">
        <div class="box">
          <h4 class="title is-4 has-text-info">Rendimiento de Productos</h4>
          <div class="content">
            <canvas *ngIf="isBrowser"
              baseChart
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [legend]="true"
              [type]="'line'"
            >
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="columns">
      <div class="column is-6">
        <div class="box">
          <h4 class="title is-4 has-text-success">
            Análisis de Tendencias de Ventas
          </h4>
          <div class="content">
            <canvas *ngIf="isBrowser"
              class="doughnut-chart"
              baseChart
              [data]="doughnutChartData"
              [type]="doughnutChartType"
            ></canvas>
          </div>
        </div>
      </div>

      <div class="column is-6">
        <div class="box has-text-centered">
          <h4 class="title is-4 has-text-grey-light">
            Espacio para una nueva gráfica
          </h4>
        </div>
      </div>
    </div>
  </section>
</div>
