@if(isLogged) {
  <app-navbar></app-navbar>
}
  @else {
  <app-navbar-guest></app-navbar-guest>
}

<div class="container mt-5">
  <!-- Carousel de imágenes del producto -->
  <div class="columns is-centered">
    <div class="column is-full">
      <div class="box" style="height: auto;">
        <!-- Carousel omitido por ahora -->
      </div>
    </div>
  </div>

  <div class="columns is-flex is-align-items-stretch">
    <div class="column is-two-thirds">
      <div class="box same-height is-flex is-flex-direction-column is-justify-content-space-between">
        <div>
          <div class="media-content">
            <h3 class="title is-4">{{productDetail.name}}</h3>
            <p class="subtitle is-6">{{productDetail.description}}</p>
            <ul>
              <li><strong>Categoría:</strong> {{ productDetail.category }} </li>
            </ul>
          </div>

          <div class="content has-text-centered">
            <p class="has-text-weight-bold">Precio: <span class="has-text-danger is-size-4">Q
                {{productDetail.price}}</span></p>
          </div>
        </div>

        <div class="buttons is-centered">
          <button class="button is-primary is-fullwidth">¡Comprar ahora!</button>
        </div>
      </div>
    </div>

    <!-- Columna con disponibilidad en sucursales -->
    <div class="column is-one-third">
      <div class="box same-height is-flex is-flex-direction-column is-justify-content-space-between">
        <h4 class="title is-5 has-text-centered">Disponibilidad en Sucursales</h4>
      </div>
    </div>
  </div>

  <!-- Fila para mostrar los atributos del producto -->
  <div class="columns">
    <div class="column is-full">
      <div class="box">
        <h4 class="title is-5">Características del Producto</h4>
        <!-- Lista de características -->
      </div>
    </div>
  </div>
</div>