.splide__slide img {
    width: 20%; /* Asegura que la imagen use todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen, ajustando la altura automáticamente */
    object-fit: fill; /* Asegura que la imagen se ajuste dentro del contenedor sin recortarse */
  }
  

.image-container {
    width: 30%;
    height: auto;
}