<app-navbar></app-navbar>

 <div class="cart-container">
  <div *ngIf="isLoading" class="has-text-centered">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    <p>Cargando...</p>
  </div>

  <div *ngIf="!isLoading && myCart.length > 0" class="columns is-multiline">
    <!-- Sección de "Mi carrito" -->
    <div class="column is-two-thirds-desktop is-full-mobile">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">Mi Carrito</p>
        </header>
        <div class="card-content">
          <div class="content">
            <p><strong>Productos disponibles</strong></p>
            <div *ngFor="let product of myCart; let i = index">
              <div class="columns is-mobile cart-item">
                <div class="column is-3-mobile is-2-tablet">
                  <figure class="image product-image">
                    <img [src]="getImageProduct(product.FK_Product)" alt="Imagen del producto {{ product.FK_Product }}">
                  </figure>
                  </div>                  
                <div class="column is-6-mobile is-7-tablet" >
                  <p><strong>Producto: {{ getNameProduct(product.FK_Product) }}</strong></p>
                  <p>Cantidad: {{ product.quantity }}</p>
                  <p>Precio Unitario: {{ this.currency}}{{ getPriceProduct(product.FK_Product) }}</p>
                  <p *ngIf="productStock[product.FK_Product]">Stock disponible: {{ productStock[product.FK_Product] }}</p>
                  <p *ngIf="productOutOfStock[product.FK_Product]" class="text-danger" style="color: crimson;">No hay existencias</p>
                </div>
                <div class="column is-3 has-text-right">
                  <p>Subtotal <strong>{{ this.currency}}{{ getSubtotal(product.quantity, product.FK_Product) }}</strong></p>
                  <div class="control is-inline-flex is-justify-content-center-mobile">
                    <button class="button is-small" (click)="decreaseQuantity(i)">-</button>
                    <input class="input is-small" type="text" [value]="product.quantity" size="1" readonly>
                    <button class="button is-small" (click)="increaseQuantity(i)" [disabled]="product.quantity > productStock[product.FK_Product]-1">+</button>
                  </div>
                  <button class="button is-small is-danger mt-2" (click)="removeProduct(i)">🗑️</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-one-third-desktop is-full-mobile">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">Resumen</p>
          </header>
          <div class="card-content">
            <div class="content">
              <p>Sub Total <strong>{{ this.currency}} {{ getTotal() }}</strong></p>
              <p>Descuento <strong>- {{ this.currency}}0</strong></p>
              <p>Total <strong>{{ this.currency}} {{ getTotal() }}</strong></p>
  
              <button class="button is-primary is-fullwidth" (click)="endPurchase()">Finalizar mi compra</button>
              <button class="button is-link is-fullwidth" (click)="addOtherProduct()">Agregar otro producto</button>
              <button class="button is-danger is-fullwidth" (click)="deleteCart()">Limpiar mi carrito</button>
            </div>
          </div>
        </div>
  
        <!-- Sección para elegir la forma de entrega -->
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">Sucursal</p>
          </header>
          <div class="card-content">
            <div class="content">
              <div class="field">
                <label class="label">Elige tu sucursal</label>
                <div class="control">
              <!---    <label class="radio">
                    <input type="radio" name="deliveryOption" (click)="setDeliveryOption('online')" checked>
                    A domicilio
                  </label>
                  <label class="radio">
                    <input type="radio" name="deliveryOption" (click)="setDeliveryOption('store')">
                    Entrega en tienda
                  </label>-->
                </div>
              </div>
  
              <div *ngIf="deliveryOption === 'store'" class="field mt-4" >
                <label class="label">Selecciona una tienda</label>
                <div class="control">
                  <div class="select">
                    <select [(ngModel)]="selectedStore" (ngModelChange)="changeStoreUser($event)">
                        <option *ngFor="let store of stores" [value]="store.id">{{ store.name }}</option>
                      </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  <div *ngIf="myCart.length === 0" class="has-text-centered">
    <p>El carrito está vacío</p>
  </div>
</div>

<!-- Modal de pago -->
<div *ngIf="isModalActive" class="modal is-active">
  <div class="modal-background" (click)="closeModal()"></div>
  <div class="modal-card" style="max-width: 1000px;">
    <header class="modal-card-head">
      <p class="modal-card-title">Checkout</p>
      <button class="delete" aria-label="close" (click)="closeModal()"></button>
    </header>
    <section class="modal-card-body">
      <form>
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label">NIT de Factura</label>
              <div class="control has-icons-left">
                <input class="input is-fullwidth" type="text" placeholder="Ingresa tu NIT" name="nitBill" [(ngModel)]="nitBill">
                <span class="icon is-small is-left">
                  <i class="fas fa-id-card"></i>
                </span>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="field">
              <label class="label">Nombre de Factura</label>
              <div class="control has-icons-left">
                <input class="input is-fullwidth" type="text" placeholder="Ingresa tu nombre completo" name="nameBill" [(ngModel)]="nameBill">
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label">Dirección de Factura</label>
              <div class="control has-icons-left">
                <input class="input is-fullwidth" type="text" placeholder="Ingresa tu dirección" name="addressBill" [(ngModel)]="addressBill">
                <span class="icon is-small is-left">
                  <i class="fas fa-map-marker-alt"></i>
                </span>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="field" *ngIf="deliveryOption !== 'store'">
              <label class="label">Referencia de Dirección</label>
              <div class="control has-icons-left">
                <input class="input is-fullwidth" type="text" placeholder="Referencia de la dirección" name="referenceAddress" [(ngModel)]="referenceAddress">
                <span class="icon is-small is-left">
                  <i class="fas fa-map-marker"></i>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Método de entrega</label>
          <div class="control">
            <div class="select is-fullwidth">
              <select name="deliveryOption" [(ngModel)]="deliveryOption" (ngModelChange)="updateDeliveryOption($event)">
                <option value="store">Recoger en tienda</option>
                <option value="delivery">Entrega a domicilio</option>
              </select>
            </div>
          </div>
        </div>

        <!-- Mostrar detalles de la tienda si se elige "Recoger en tienda" -->
        <div *ngIf="deliveryOption === 'store'" class="mt-4">
          <div class="field">
            <label class="label">Nombre de la tienda</label>
            <div class="control">
              <input class="input is-fullwidth is-disabled" type="text" [value]="branchName" disabled>
            </div>
          </div>

          <div class="field mt-4">
            <label class="label">Dirección de la tienda</label>
            <div class="control">
              <input class="input is-fullwidth is-disabled" type="text" [value]="branchAddress" disabled>
            </div>
          </div>
        </div>

        <!-- Campo de costo de entrega si la opción es 'Entrega a domicilio' -->
        <div *ngIf="deliveryOption === 'delivery'" class="field">
          <label class="label">Costo de Entrega</label>
          <div class="control has-icons-left">
            <input class="input is-fullwidth" type="number" [value]="deliveryCost" readonly name="deliveryCost">
            <span class="icon is-left" style="margin-left: -35px;">{{ currency }}</span>
          </div>
        </div>

        <div class="field mt-4">
          <label class="label">Total a Pagar</label>
          <div class="control has-icons-left">
            <input class="input is-fullwidth" type="number" [value]="total" readonly name="total">
            <span class="icon is-left" style="margin-left: -10px;">{{ currency }}</span>
          </div>
        </div>

        <div class="field is-grouped is-grouped-centered mt-4">
          <p class="control mt-2">
            <button class="button is-primary" (click)="submitCheckout()">Confirmar</button>
          </p>
          <p class="control mt-2">
            <button class="button is-light" (click)="closeModal()">Cancelar</button>
          </p>
        </div>
      </form>
    </section>
  </div>
</div>




